body{
    background-image: url("6_0.jpg");
    font-family: 'Transformers', sans-serif;
                                                
}

.title{
    color: springgreen;
    font-size: 50px;
    font-weight: bold;
}

.date1{
    font-size: xx-large;
    color:  rgb(26, 17, 148);
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(9, 165, 142);
}

h2{
    color:  rgb(26, 17, 148);
    font-weight: bold;
    

}

.asigurare{
    position:absolute;
    bottom: 522px;
    left: 500px;
    font-size: 30px;

}

.rovinietaText{
    position:absolute;
    bottom: 336px;
    left: 500px;
    font-size: 30px;
}


.reviz{
    position:absolute;
    bottom: 150px;
    left: 500px;
    font-size: 30px;
}

button{
    border-radius: 2em;
    color: rgb(26, 17, 148);
    background-color: yellow;
    height: 3em;
    width:10em;
    font-weight: bold;
    
}

@media(max-width:720px){

    body{
        max-width: fit-content;
        max-height: fit-content;
    }



    .asigurare{
  
        font-size: 20px;
        text-size-adjust: 5px;
        right: 3000px;      
        top: 100px;
    }

    .rovinietaText{
        font-size: 20px;
        right: 2000px;
        top: 300px;
      
    }

    .reviz{
        font-size: 20px;
        right: 3000px;
        top: 500px;
    }

    .title{
        font-size: 30px;
    }
}
